/* General Styles */
body {
    background-color: #202124;
    font-family: "Google Sans", sans-serif;
    color: rgba(255,255,255,0.6);
}

main {
    margin: 0 auto;
    max-width: 900px;
}

/* HEADERS */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}
  
.header-logo {
    height: 4em;
}
  
.header-title {
    color: #5f6368;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 4px;
    padding-left: 4px;
}